---
layout: default
title: Homepage
permalink: /
---

<div class="masthead ui segment center aligned">
    <div class="ui container center aligned">
            <div class="ui container center aligned">
                <h1 class="ui header">
                    Responsible Data Summit
                </h1>
                <h3 class="ui header">
                    Summer 2020
                </h3>
            <div class="ui detail container center aligned">
                <p>
                    An online series featuring the most important voices in
                    <b>Privacy, AI, and the future of the Data Economy. </b>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="ui segment center aligned">
    <div class="ui container left aligned">
        <div class="ui grid">
            <div class="twelve wide column">      
                <p>
                    The Responsible Data Summit is a different kind of forum. We have created a virtual convening space that
                    brings together top thought leaders in the field -- innovative technologists, entrepreneurs, policymakers,
                    and advocates. Our goal is to tackle a single mission: building a responsible data economy. And this online
                    convening is just the beginning.
                </p>
                <p>
                    We see this as a unique celebration of all the benefits that responsible data technology can provide for us.
                    A way to become better educated, from engaging in a showcase featuring state of the art technology. A forum
                    for open and frank dialogue among different voices. And the opportunity to join a call-to-action, perhaps
                    even to build a new movement for responsible data stewardship.
                </p>
                <div class="ui container center aligned">
                    <a class="ui huge primary button" href="/joinus">
                        <b style="font-size: 1.5em;"> Join Us </b>
                        <br>
                        <b style="font-size: 0.8em;">in founding a new ethos for the digital world</b>
                    </a>
                </div>
            </div>
            <div class="four wide column">
                {% include twitter_emb.html %}
            </div>
        </div>
    </div>
</section>

<section class="ui segment center aligned">
    <div class="ui container center aligned">
        <h1>
            Multiple tracks over multiple weeks
        </h1>
        <br>
        <div class="hp ui three column grid">
            <div class="column">
                <div class="ui segment"
                    style="background-image: linear-gradient(rgba(242, 113, 28, 0.7), rgba(242, 113, 28, 0.7)), url('/assets/img/bg1.jpg');">
                    <h1 class="fixheight">
                        Responsible Data in the Time of Pandemic
                    </h1>
                    <h1>
                        July 28
                    </h1>
                    <a class="ui small button white" style="color: rgba(242, 113, 28, 0.7);" href="/pandemic">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui segment"
                    style="background-image: linear-gradient(rgba(0, 146, 246, 0.7), rgba(0, 146, 246, 0.7)), url('/assets/img/bg2.jpg');">
                    <h1 class="fixheight">
                        Responsible Data Technology and Policy in the Real World
                    </h1>
                    <h1>
                        July 30
                    </h1>
                    <a class="ui small button white" style="color: rgba(0, 146, 246, 0.7);" href="/technology">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui segment"
                    style="background-image: linear-gradient(rgba(49, 0, 129, 0.7), rgba(49, 0, 129, 0.7)), url('/assets/img/bg3.jpg');">
                    <h1 class="fixheight">
                        Privacy and Decentralization
                    </h1>
                    <h1>
                        August 25
                    </h1>
                    <a class="ui small button white" style="color: rgba(49, 0, 129, 0.7);">
                        Coming soon
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ui segment center aligned">
    <div class="ui container left aligned" style="padding-top: 2em; padding-bottom: 2em;">
        {% include newsletter_signup.html %}
    </div>
</section>