<script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = { "enableCcpa": true, "consentOnContinuedBrowsing": false, "ccpaAcknowledgeOnDisplay": true, "whitelabel": false, "lang": "en", "siteId": 1970355, "ccpaApplies": true, "perPurposeConsent": true, "cookiePolicyId": 89290161, "banner": { "acceptButtonDisplay": true, "customizeButtonDisplay": true, "acceptButtonColor": "#0073CE", "acceptButtonCaptionColor": "white", "customizeButtonColor": "#DADADA", "customizeButtonCaptionColor": "#4D4D4D", "rejectButtonColor": "#0073CE", "rejectButtonCaptionColor": "white", "position": "float-top-center", "textColor": "black", "backgroundColor": "white", "rejectButtonDisplay": true } };
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>