<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Responsible Data Summit 2020</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="littleRound">

    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source Sans Pro:300,400,500,700|Source Code Pro:300,400,500,700|Roboto Condensed:300,400,500,700|Space Mono:300,400,500,700|Source Sans Pro:300,400,500,700|Roboto:300,400,500,700|Space Mono:300,400,500,700|Montserrat:300,400,500,700|Source Code Pro:300,400,500,700" type="text/css" rel="stylesheet" referrerpolicy="no-referrer">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dataeconomyai">
    <meta name="twitter:creator" content="@dataeconomyai">
    <meta name="twitter:title" content="Responsible Data Summit">
    <meta name="twitter:description" content="The Responsible Data Summit is a different kind of forum.  We have created a virtual convening space that brings together top thought leaders in the field -- innovative technologists, entrepreneurs, policymakers, and advocates.  Our goal is to tackle a single mission: building a responsible data economy. And this online convening is just the beginning.">
    <meta name="twitter:image" content="http://responsibledata.ai/assets/img/banner.jpg">
</head>

