<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Responsible Data Summit 2020</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="littleRound">

    <link href="/assets/external/semantic.min.css" rel="stylesheet">
    <link href="/assets/external/font-awesome.min.css" rel="stylesheet prefetch">
    <script src="/assets/external/jquery.js"></script>
    <script src="/assets/external/semantic.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="/assets/external/font.css" type="text/css" rel="stylesheet" referrerpolicy="no-referrer">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ page.twitter_site }}">
    <meta name="twitter:creator" content="{{ page.twitter_creator }}">
    <meta name="twitter:title" content="{{ page.twitter_title }}">
    <meta name="twitter:description" content="{{ page.twitter_description }}">
    <meta name="twitter:image" content="http://responsibledata.ai/{{ page.twitter_image }}">
</head>

