<div class="ui vertical segment nav">

    <div class="ui container">
        <div class="ui grid">
            <div class="six wide column middle aligned">
                <div class="ui secondary menu">
                    <div class="ui dropdown item">
                        Summit 2020
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="/"><b>Summit 2020 - Homepage</b></a>
                            <div class="divider"> </div>
                            <a class="item" href="/pandemic">Responsible Data in the time of Pandemic</a>
                            <a class="item" href="/technology">Responsible Data Technology and Policy in the Real World</a>
                            <a class="item" href="/privacy">Privacy and Decentralization</a>
                        </div>
                    </div>
                    <div class="ui item">
                        <a href="/about" style="color: dimgray;">
                            About
                        </a>
                    </div>
                    <div class="ui item">
                        {% include twitter_follow.html %}
                    </div>
                    <div class="ui item">
                        <a class="ui orange button" href="https://join.slack.com/t/responsibledataai/shared_invite/zt-g47mlb3p-bZlyoYA9Q_VsbM9YBp1Qig" style="font-size: 12px; color: white;">
                            <i class="fa fa-slack" aria-hidden="true"></i>
                            Slack
                        </a>
                    </div>
                </div>
            </div>
            <div class="four wide column middle aligned">
                <a href="/" class="ui center aligned container">
                    <img src="/assets/img/logo.png">
                </a>
            </div>
            <div class="six wide column middle aligned">
                <div class="ui right aligned container">
                    <a class="ui blue basic small button" href="/joinus" style="margin-bottom: 1em;">
                        Join Us / Free Registration
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>