---
layout: default
title: Agenda
permalink: /agenda-0728
---

<section class="ui segment center aligned" style="background-color: dodgerblue;">
    <div class="ui container center aligned agenda">
        <h1> Agenda (9:00 - 17:30 PST, July 28) </h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                <tr class="center aligned positive">
                    <td colspan="2">Morning: Responsible Data in the time of Pandemic </td>
                </tr>
                {% for event in site.data.agenda0728 %}
                    <tr style="line-height: 2.4em;">
                        {% if event.section != "morning" %}
                            {% continue %}
                        {% endif %}
                        <td>{{event.time}} </td>
                        <td>
                            <b>{{event.title}} </b> {{event.comment}}
                            {% if event.panel %}
                                <br>
                                &bull; <b>Moderator</b>: 
                                {% if event.panel_moderator %}
                                    {% assign name = event.panel_moderator %}
                                    {% assign aff = "UNKNOWN-AFF" %}
                                    {% assign avatar = "unknown.jpg" %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_tech %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    
                                    <a class="ui image label large">
                                        <img class="ui circular image" src="/assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail">{{aff}}</div>
                                    </a>
                                {% else %}
                                    TBD
                                {% endif %}
                                {% for speaker_name in event.panel_speakers %}
                                    {% assign name = speaker_name %}
                                    {% assign aff = "UNKNOWN-AFF" %}
                                    {% assign avatar = "unknown.jpg" %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_tech %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    <br> &bull;
                                    <a class="ui image label large">
                                        <img class="ui circular image" src="/assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail">{{aff}}</div>
                                    </a>
                                {% endfor %} 
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr class="center aligned positive">
                    <td colspan="2">Afternoon: Responsible Data Technology and Policy in the Real World </td>
                </tr>
                {% for event in site.data.agenda0728 %}
                    <tr style="line-height: 2.4em;">
                        {% if event.section != "afternoon" %}
                            {% continue %}
                        {% endif %}
                        <td>{{event.time}} </td>
                        <td>
                            <b>{{event.title}} </b> {{event.comment}}
                            {% if event.panel %}
                                <br>
                                &bull; <b>Moderator</b>: 
                                {% if event.panel_moderator %}
                                    {% assign name = event.panel_moderator %}
                                    {% assign aff = "UNKNOWN-AFF" %}
                                    {% assign avatar = "unknown.jpg" %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_tech %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    
                                    <a class="ui image label large">
                                        <img class="ui circular image" src="/assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail">{{aff}}</div>
                                    </a>
                                {% else %}
                                    TBD
                                {% endif %}
                                {% for speaker_name in event.panel_speakers %}
                                    {% assign name = speaker_name %}
                                    {% assign aff = "UNKNOWN-AFF" %}
                                    {% assign avatar = "unknown.jpg" %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_tech %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    <br> &bull;
                                    <a class="ui image label large">
                                        <img class="ui circular image" src="/assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail">{{aff}}</div>
                                    </a>
                                {% endfor %} 
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>