---
layout: default
title: Technology
permalink: /technology
twitter_title: Responsible Data Technology and Policy in the Real World - Responsible Data Summit
twitter_description: Companies and technologists are innovating on the development and use of new privacy technologies that are making the promise of big data a reality. This track shares learnings and experiences from top academics, corporate leaders and others about new privacy computing technologies and how it’s used in real world applications.
twitter_image: assets/img/card-tech.jpg
theme_color: rgba(0, 146, 246, 1)
---

<section class="masthead ui segment center aligned"
    style="background-image: linear-gradient(rgba(0, 146, 246, 0.5), rgba(0, 146, 246, 0.5)), url('/assets/img/bg2.jpg');">
    <div class="ui container center aligned">
        <h1 class="ui header" style="margin-bottom: 0em;">
            Responsible Data Technology and Policy in the Real World
        </h1>
        <h3 class="ui header" style="margin-bottom: 0em;">
            <b> July 30 </b>
            <a href="/agenda-0730" class="ui tag large label" style="color: rgba(0, 146, 246, 1);">Agenda</a> 
        </h3>
        <br>
        <div class="ui header" style="font-size: 0.6em; background: rgba(0, 146, 246, 0.7); color: rgba(255, 255, 255, 1); padding-top: 1em; padding-bottom: 0.6em; margin-left: 12em;  margin-right: 12em;">
            <h3 style="font-size: 3em;"> Live Q&A over Twitter
            <h3> 
                During each talk, speakers will be ready to discuss their talk and answer your questions on Twitter. Just follow 
                <a href="https://twitter.com/dataeconomyai?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @dataeconomyai</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                and use these <a href="https://twitter.com/dataeconomyai/status/1287968908670984192?s=20" style="background-color: #1b95e0; color: white; text-decoration: underline;">instructions</a> to tweet at each speaker directly.  
            </h3>
        </div>
        <div class="ui divider"></div>
        <div class="five blue ui buttons">
            <a class="ui medium button" style="margin: 0em;" href="#about">About</a>
            <a class="ui medium button" style="margin: 0em;" href="#spotlight">Call for Spotlight</a>
            <a class="ui medium button" style="margin: 0em;" href="#speakers">Invited Speakers</a>
            <a class="ui medium button" style="margin: 0em;" href="#committee">Organizing Committee</a>
            <a class="ui medium button" style="margin: 0em;" href="/agenda-0730">July 30 Agenda</a>
        </div>
    </div>
</section>

<section class="ui segment center aligned">
    <div class="ui container left aligned" style="padding-top: 2em; padding-bottom: 2em;">
        {% include newsletter_signup.html %}
    </div>
</section>

<section id="about" class="ui segment center aligned">
    <div class="ui container left aligned">
        <div class="ui grid">
            <div class="twelve wide column">      
                <h1 style="text-align: center;">
                    Responsible Data Technology and Policy in the Real World
                </h1>
                <p>
                    Technologists and businesses are innovating on the development and use of new privacy technologies that are making the promise of big data a reality. Meanwhile, with GDPR, CCPA, and other federal laws under debate, regulations and policies to both protect consumers from data breaches and expedient uses of their data have come to the forefront. This track shares learnings and experiences from top academics, corporate leaders and others about new privacy computing technologies and how it's used in real world applications, as well as approaches and frameworks that top policy makers of privacy legislation and consumer advocate of future public policy and responsible data propose.
                </p>
            </div>
            <div class="four wide column">
                {% include twitter_emb.html %}
            </div>
        </div>
    </div>
</section>

<section id="spotlight" class="spotlight ui segment center aligned">
    <div class="ui container left aligned">
        <h1 style="text-align: center;">
            Call for Spotlight
        </h1>
        <br>
        <p>
            Have you been working on new privacy technologies for responsible data use, new economic models and policy proposals on responsible data use, or entrepreneurial endeavors in the area of responsible data? Then we want to hear from you! We are looking for short presentation spotlights of approximately 5 minutes to
            highlight relevant work about responsible data technology and policy. 
            The best Spotlight talks will be given the <b> ResponsibleData Spotlight Award</b>.
        </p>
        <p>
            Please send us <b>an abstract</b> of no more than 300 words and <b>a 5 minute video</b> by <b>July 25</b>.
        </p>
        <br>
        <a class="ui huge button violet fluid" href="https://docs.google.com/forms/d/e/1FAIpQLScYoHUapgBuqo29Ddso79_ixIhPjSep1scGMfsshbswevdUKw/viewform?usp=sf_link">
            Submit your project
        </a>
    </div>
</section>

<section id="speakers" class="masthead ui segment center aligned"
    style="background-image: linear-gradient(rgba(0, 146, 246, 0.5), rgba(0, 146, 246, 0.5)), url('/assets/img/bg2.jpg');">
    <div class="speakers ui container center aligned">
        <h1>
            Speakers
        </h1>
        <div class="ui three column grid">
            {% for speaker in site.data.speakers_tech %}
            <div class="column">
                <div class="ui container center aligned">
                    <img class="ui medium centered circular image" src="/assets/img/speakers/{{speaker.avatar}}">
                </div>

                <h2> {{ speaker.name }} </h2>
                <h4> {{ speaker.title | newline_to_br  }} </h4>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include committee_sec.html %}

<section class="ui container center aligned" style="padding: 6em;">
    <div class="ui two column grid">
        <div class="column">
            <img class="ui centered image medium" src="/assets/img/berkeley.png">
        </div>
        <div class="column">
            <img class="ui centered image medium" src="/assets/img/mit.jpg">
        </div>
    </div>
</section>
