---
layout: default
title: Technology
permalink: /technology
twitter_title: Responsible Data Technology and Policy in the Real World - Responsible Data Summit
twitter_description: Companies and technologists are innovating on the development and use of new privacy technologies that are making the promise of big data a reality. This track shares learnings and experiences from top academics, corporate leaders and others about new privacy computing technologies and how it’s used in real world applications.
twitter_image: assets/img/card-tech.jpg
---

<section class="masthead ui segment center aligned"
    style="background-image: linear-gradient(rgba(0, 146, 246, 0.5), rgba(0, 146, 246, 0.5)), url('/assets/img/bg2.jpg');">
    <div class="ui container center aligned">
        <h1 class="ui header" style="margin-bottom: 0em;">
            Responsible Data Technology and Policy in the Real World
        </h1>
        <h3 class="ui header" style="margin-bottom: 0em;">
            <b> July 30 </b>
            <!-- 
                <a href="/agenda-0730" class="ui tag large label" style="color: rgba(0, 146, 246, 1);">Agenda</a> 
            -->
        </h3>
        <div class="ui divider"></div>
        <div class="one blue ui buttons">
            <a class="ui big button" style="margin: 0em;" href="/agenda-0730">July 30 Agenda</a>
        </div>
    </div>
</section>

<section id="about" class="ui segment center aligned">
    <div class="ui container left aligned">
        <h1 style="text-align: center;">
            Responsible Data Technology and Policy in the Real World
        </h1>
        <p>
            Technologists and businesses are innovating on the development and use of new privacy technologies that are making the promise of big data a reality. This track shares learnings and experiences from top academics, corporate leaders and others about new privacy computing technologies and how it’s used in real world applications. Meanwhile, with GDPR, CCPA, and other federal laws under debate, regulations and policies to both protect consumers from data breaches and expedient uses of their data have come to the forefront. Hear from top regulators and consumer advocates on their approach to privacy legislation, trade offs, and the future of public policy and responsible data use.
        </p>
    </div>
</section>

<section id="speakers" class="masthead ui segment center aligned"
    style="background-image: linear-gradient(rgba(0, 146, 246, 0.5), rgba(0, 146, 246, 0.5)), url('/assets/img/bg2.jpg');">
    <div class="speakers ui container center aligned">
        <h1>
            Speakers
        </h1>
        <div class="ui three column grid">
            {% for speaker in site.data.speakers_tech %}
            <div class="column">
                <div class="ui container center aligned">
                    <img class="ui medium centered circular image" src="/assets/img/speakers/{{speaker.avatar}}">
                </div>

                <h2> {{ speaker.name }} </h2>
                <h4> {{ speaker.title | newline_to_br  }} </h4>
            </div>
            {% endfor %}
            <div class="column middle aligned">
                <h1> And More! </h1>
            </div>
        </div>
    </div>
    <a class="ui huge primary button" href="/joinus">
        Join Us / Free Registration
    </a>
</section>

<section class="ui segment center aligned">
    <div class="ui container left aligned" style="padding-top: 2em; padding-bottom: 2em;">
        {% include newsletter_signup.html %}
    </div>
</section>